@model March13Assignments.Models.Dog

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-lg mb-4">

    <div class="card-header bg-primary ">
        Dog ID: @Model.ID

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 text-center">
             
                                @if (!string.IsNullOrEmpty(Model.ImagePath))
                                {
                                    <img src="@Model.ImagePath" width="150" height="150" class="rounded-3 border" style="max-height:300px;"/>
                                }
                                else
                                {
                                    <span>No Image</span>
                                }
                          
                }
            </div>
            <div class="col-md-7 text-dark">
                <h4 class="card-title">@Model.Name</h4>
                <p><strong>Age:</strong>@Model.Age</p>
                <p><strong>Description:</strong>@Model.Description</p>
            </div>
        </div>
    </div>

</div>